body {
    font-size: 62.5%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 100vh;
}

.imge {
    background-image: url(../img/sakurajima.jpg);
    background-size: cover;
    background-position: 0% 80%;
}

.theme {
    font-size: 4.5rem;
    font-family: "UD デジタル 教科書体 NP-B", "UD Digi Kyokasho NP-B";
    font-weight: bold;
    text-align: center;
    padding-top: 1.5rem;
    padding-bottom: 1.0rem;

    // @include sp {
    //     font-size: 3.0rem;
    // }
}


.container {
    width: 50%;
    margin: 0 auto;
    background-color: #fff;
    opacity: 0.8;
    border-radius: 4px;
    padding: 1.5rem;
    box-sizing: border-box;
    position: relative;
}

#question {
    margin-bottom: 1.6rem;
    font-size: 2.0rem;
    font-weight: bold;
}

#choices {
    margin-bottom: 1.0rem;
    font-size: 1.6rem;

    &>li {
        border: 1px solid #ccc;
        border-radius: 4px;
        padding: 1.0rem;
        margin-bottom: 1.0rem;
        cursor: pointer;
    }

    &>li:hover {
        background-color: #f8f8f8;
    }

    &>li.correct {
        background-color: #d4edda;
        border-color: #c3e6cb;
        color: #155724;
        font-weight: bold;

        &::after {
            content: '　正解!...素晴らしい👏';
        }
    }


    &>li.wrong {
        background-color: #f8d8da;
        border-color: #f5c6cd;
        color: #621c24;
        font-weight: bold;

        &::after {
            content: '　残念!...不正解';
        }
    }
}

#btn,
#result>a {
    font-size: 2.0rem;
    background-color: #3498db;
    padding: 0.8rem;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    color: #fff;
    box-shadow: 0 4px 0 #2880d9;
}

#btn.disabled {
    background-color: #ccc;
    box-shadow: 0 4px 0 #bbb;
    opacity: 0.7;
}

#result {
    position: absolute;
    width: 60%;
    background-color: #fff;
    padding: 3.0rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    top: 20%;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
    transition: 0.4s;

    &.hidden {
        transform: translateY(-300%);
    }

    &>p {
        font-size: 2.5rem;
        margin-bottom: 2.0rem;
    }

    &>a {
        // 親要素の幅いっぱいにする
        display: block;
    }
}